{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="container mx-auto col-xxl-5 col-xl-7 col-lg-7 col-md-9 col-sm-12">
            <div class="d-flex mx-auto align-items-center">
                <img class="img-fluid w-50 mx-auto" src="{{ asset('assets/images/logo.png') }}" alt="Logo">
            </div>
            <div class="text-center m-3">
                <h1 class="fs-2 fw-bold">File Management System</h1>
            </div>
            <i class="fas fa-check-circle fa-5x text-success mb-3 text-black"></i>
            <div class="alert alert-success my-4" role="alert">
                If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </div>

            <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
        </div>
    </div>

{% endblock %}
