@import 'global.scss';
:root{
    --bs-primary: #0094da;
}
body {
    //background-color: lightgray;
}

/* Sections Header
--------------------------------*/
.section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
}

.section-header::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #0094da;
    bottom: 0;
    left: calc(50% - 25px);
}

.section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
}

.section-with-bg {
    background-color: #f6f7fd;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 90px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header.header-scrolled,
#header.header-inner {
    background: rgba(6, 12, 34, 0.98);
    height: 70px;
}

#header #logo h1 {
    font-size: 36px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header #logo h1 span {
    color: #0094da;
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: #fff;
}

#header #logo img {
    padding: 0;
    margin: 0;
    max-height: 90px;
}

@media (max-width: 992px) {
    #header #logo img {
        max-height: 60px;
    }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url('../image/giammarco-boscaro-zeH-ljawHtg-unsplash.jpg') top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

@media (max-width: 991px) {
    #hero .hero-container {
        top: 70px;
    }
}

#hero h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
}

#hero h1 span {
    color: #f82249;
}

@media (max-width: 991px) {
    #hero h1 {
        font-size: 34px;
    }
}

#hero p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
}

@media (max-width: 991px) {
    #hero p {
        font-size: 16px;
    }
}

#hero .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}

#hero .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#hero .play-btn:before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgba(163, 163, 163, 0.4);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

#hero .play-btn:hover::after {
    border-left: 15px solid #f82249;
    transform: scale(20);
}

#hero .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    animation: none;
    border-radius: 0;
}

#hero.login-btn a {
    text-decoration: none;
}

#hero .login-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    animation-delay: 0.8s;
    border: 2px solid #0094da;
}



#hero .login-btn:hover {
    background: #0094da;
    color: #fff;
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}



.custom-card {
    border-radius: 0.688rem;
    border: 0;
    background-color: var(--custom-white);
    box-shadow: 0 10px 30px 0 var(--primary005);
    position: relative;
    -webkit-margin-after: 1.25rem;
    margin-block-end: 1.25rem;
    width: 100%;
}

.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb),.15)!important;
}

