{% apply inky_to_html %}
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <h1 class="text-center">Welcome </h1>
                <p>someone submitted a tender</p>
            </columns>

        </row>
    </container>
{% endapply %}