

{% extends 'Mails/email-base.html.twig' %}

{% block content %}
    <spacer size="18"></spacer>
    <row>
        <columns small="12">
            <h3>
                Forgot Your Password ?
            </h3>
            <spacer size="18"></spacer>
            <p>
                Follow this <a href="{{ reset_password_url ~'/'~token }}" target="_blank">link</a> to reset your account password. If you didn't request a new password, you can safely delete this email.
            </p>
            <spacer size="18"></spacer>
            <p>
                This link will expire at {{ time|date("F jS Y \\a\\t g:ia") }}
            </p>
            <spacer size="18"></spacer>
            <p>
                If you’re having trouble clicking the "Click to reset password" button, copy
                and
                paste
                the URL
                into your web browser
            </p>
        </columns>
    </row>

{% endblock %}
